
.tooltip {
  position: relative;
  display: inline;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 50px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

 .tooltip1 {
  position: relative;
  display: inline;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 80px;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}
 
 .tooltip2 {
  position: relative;
  display: inline;
}
.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 90px;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}

 .tooltip3 {
  position: relative;
  display: inline;
}
.tooltip3 .tooltiptext3 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: -18px;
  left: 75px;
}

.tooltip3:hover .tooltiptext3 {
  visibility: visible;
}

 .tooltip4 {
  position: relative;
  display: inline;
}
.tooltip4 .tooltiptext4 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 55px;
}

.tooltip4:hover .tooltiptext4 {
  visibility: visible;
}


 .tooltip5 {
  position: relative;
  display: inline;
}
.tooltip5 .tooltiptext5 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 80px;
}

.tooltip5:hover .tooltiptext5 {
  visibility: visible;
}

 .tooltip6 {
  position: relative;
  display: inline;
}
.tooltip6 .tooltiptext6 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 80px;
}

.tooltip6:hover .tooltiptext6 {
  visibility: visible;
}